/***************** 
Global Settings 
*****************/

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", 'Courier New', Courier, monospace;
    color: snow;
}

#global-nav {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    min-height: 60px;
    padding: 0 2vw;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(32, 32, 32);
}

#logo-link {
    width: 10vw;
}

.dynamic-nav {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

#account-logout-links {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

#global-footer {
    max-width: 100vw;
    display: flex;
    height: 5vh;
    font-weight: bold;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: end;
}

body {
    background-color: black;
    max-width: 100vw;
    background-image: url("/src/assets/model1887.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: gold;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgb(32, 32, 32);
}

/******END OF FILE!!!******/